/* Hero section */
.hero {
    min-height: 100vh;
    background-image: url(https://static.wikia.nocookie.net/stayc/images/e/ed/STAYC_Young-Luv-com_concept_photo_%283%29.jpg/revision/latest?cb=20220213014554);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -400px;
    position: relative;
    margin-bottom: 100px;
    border-bottom: 5px solid black;
}

.hero .hero-content {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: linear-gradient(0deg, black, rgba(255, 255, 255, 0) 75%); */
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: -300px;
    font-size: 120px;
    color: white;
    text-shadow: 0 0 8px white;
}

.intro,
.members {
    margin-bottom: 200px;
}
.intro h2,
.members h2,
.discography h2 {
    font-size: 50px;
    font-weight: bold;
}

.carousel-item {
    height: 600px;
}

.carousel-img-one {
    display: flex;
    background-color: black;
}

.carousel-item .album-cover {
    width: 600px;
    height: 600px;
}

.half-opacity {
    opacity: .8;
}

.teenfresh-ps {
    width: 100%;
    background-color: grey;
    background-image: url(https://static.wikia.nocookie.net/stayc/images/4/49/STAYC_TEENFRESH_concept_photo_4.jpeg/revision/latest/scale-to-width-down/1000?cb=20230807141359);
    background-size: cover;
    border-left: 5px solid grey;
    box-sizing: border-box;
}
.teddybear-ps {
    width: 100%;
    background-color: grey;
    background-image: url(https://static.wikia.nocookie.net/stayc/images/2/28/STAYC_Teddy_Bear_concept_photo_%281%29.jpeg/revision/latest/scale-to-width-down/1000?cb=20230209154323);
    background-size: cover;
    border-left: 5px solid grey;
    box-sizing: border-box;
}

.wnl-ps {
    width: 100%;
    background-color: grey;
    background-image: url(https://static.wikia.nocookie.net/kpop/images/6/64/STAYC_We_Need_Love_group_concept_photo_4.png/revision/latest/scale-to-width-down/1000?cb=20220712150340);
    background-size: cover;
    border-left: 5px solid grey;
    box-sizing: border-box;
}

.ylc-ps {
    width: 100%;
    background-color: grey;
    background-image: url(https://static.wikia.nocookie.net/stayc/images/c/c3/STAYC_Young-Luv-com_concept_photo_%284%29.jpg/revision/latest/scale-to-width-down/1000?cb=20220213014540);
    background-size: cover;
    border-left: 5px solid grey;
    box-sizing: border-box;
}

.stereotype-ps {
    width: 100%;
    background-color: grey;
    background-image: url(https://static.wikia.nocookie.net/stayc/images/3/32/STAYC_Stereotype_concept_photo_%282%29.jpg/revision/latest/scale-to-width-down/1000?cb=20210820154115);
    background-size: cover;
    border-left: 5px solid grey;
    box-sizing: border-box;
}

.staydom-ps {
    width: 100%;
    background-color: grey;
    background-image: url(https://static.wikia.nocookie.net/stayc/images/7/75/STAYC_Staydom_concept_photo_%284%29.jpg/revision/latest/scale-to-width-down/1000?cb=20210331151532);
    background-size: cover;
    border-left: 5px solid grey;
    box-sizing: border-box;
}

.stayc-ps {
    width: 100%;
    background-color: grey;
    background-image: url(https://static.wikia.nocookie.net/stayc/images/5/58/StarToAYoungCulture_ConceptImage1.jpeg/revision/latest?cb=20201028154241);
    background-size: cover;
    border-left: 5px solid grey;
    box-sizing: border-box;
}





















/* MEDIA QUERY */

@media (max-width: 1200px) {
    .hero {
        background-position: 0 -300px;

    }
}
@media (max-width: 992px) {
    .hero {
        background-position: 0 -240px;

    }
}
@media (max-width: 768px) {
    .hero {
        background-position: 0 -160px;

    }
}
@media (max-width: 576px) {
    .hero {
        background-position: -50px -35px;

    }   
}
