/* Hero section */
.hero {
    min-height: 100vh;
    background-image: url(https://static.wikia.nocookie.net/stayc/images/e/ed/STAYC_Young-Luv-com_concept_photo_%283%29.jpg/revision/latest?cb=20220213014554);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -400px;
}

.hero img {
    width: 100%;
}

@media (max-width: 1200px) {
    .hero {
        background-position: 0 -300px;

    }
}
@media (max-width: 992px) {
    .hero {
        background-position: 0 -240px;

    }
}
@media (max-width: 768px) {
    .hero {
        background-position: 0 -160px;

    }
}
@media (max-width: 576px) {
    .hero {
        background-position: -50px -35px;

    }   
}
