/* Hero section */
.hero {
    min-height: 100vh;
    background-image: url(https://static.wikia.nocookie.net/stayc/images/e/ed/STAYC_Young-Luv-com_concept_photo_%283%29.jpg/revision/latest?cb=20220213014554);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -400px;
    position: relative;
    margin-bottom: 100px;
    border-bottom: 5px solid black;
}

.hero .hero-content {
    width: 100%;
    height: 100%;
    position: absolute;
    /* background: linear-gradient(0deg, black, rgba(255, 255, 255, 0) 75%); */
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: -300px;
    font-size: 120px;
    color: white;
    text-shadow: 0 0 8px white;
}


/* intro */
.intro,
.members {
    margin-bottom: 200px;
}

.intro h2,
.members h2,
.discography h2 {
    font-size: 50px;
    font-weight: bold;
}

.intro .row p {
    font-weight: 100;
}

.intro .row a {
    font-weight: bold;
    color: black;
    text-decoration: none;
}



/* carousel */
.discography {
    margin-bottom: 230px;
}
.carousel-item {
    height: 600px;
}

.carousel-caption h3 {
    font-size: 50px;
    text-shadow: 0 0 5px black;
}

.carousel-caption p {
    font-size: 30px;
    text-shadow: 0 0 3px black;
}

.carousel-img-one {
    display: flex;
    background-color: black;
}

.carousel-item .album-cover {
    width: 600px;
    height: 600px;
}

.bg-album-cover {
    width: 100%;
    background-color: grey;
    background-size: cover;
    border-left: 5px solid grey;
    box-sizing: border-box;
}

.half-opacity {
    opacity: .8;
}

.teenfresh-ps {
    background-image: url(https://static.wikia.nocookie.net/stayc/images/4/49/STAYC_TEENFRESH_concept_photo_4.jpeg/revision/latest/scale-to-width-down/1000?cb=20230807141359);
}
.teddybear-ps {
    background-image: url(https://static.wikia.nocookie.net/stayc/images/2/28/STAYC_Teddy_Bear_concept_photo_%281%29.jpeg/revision/latest/scale-to-width-down/1000?cb=20230209154323);
}

.wnl-ps {
    background-image: url(https://static.wikia.nocookie.net/kpop/images/6/64/STAYC_We_Need_Love_group_concept_photo_4.png/revision/latest/scale-to-width-down/1000?cb=20220712150340);
}

.ylc-ps {
    background-image: url(https://static.wikia.nocookie.net/stayc/images/c/c3/STAYC_Young-Luv-com_concept_photo_%284%29.jpg/revision/latest/scale-to-width-down/1000?cb=20220213014540);
}

.stereotype-ps {
    background-image: url(https://static.wikia.nocookie.net/stayc/images/3/32/STAYC_Stereotype_concept_photo_%282%29.jpg/revision/latest/scale-to-width-down/1000?cb=20210820154115);
}

.staydom-ps {
    background-image: url(https://static.wikia.nocookie.net/stayc/images/7/75/STAYC_Staydom_concept_photo_%284%29.jpg/revision/latest/scale-to-width-down/1000?cb=20210331151532);
}

.stayc-ps {
    background-image: url(https://static.wikia.nocookie.net/stayc/images/5/58/StarToAYoungCulture_ConceptImage1.jpeg/revision/latest?cb=20201028154241);
    background-position: 0 -240px;
}


/* footer */
.footer-con {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: black;
}

.footer-con .Ssocials a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-right: 50px;
}
.footer-con .Ssocials a:hover {
    color: #715DF2;
}

.footer-con p {
    margin: 0;
    color: white;
}

/* SVG */
.svg-gg {
    position: absolute;
    z-index: -1;
    width: 100%;
}












/* MEDIA QUERY */

@media (max-width: 1200px) {
    .hero {
        background-position: 0 -300px;

    }
}
@media (max-width: 992px) {
    .hero {
        background-position: 0 -240px;

    }
}
@media (max-width: 768px) {
    .hero {
        background-position: 0 -160px;
    }

    .card{
        margin-bottom: 20px;
    }
}
@media (max-width: 576px) {
    .hero {
        background-position: -50px -35px;
    }   
    
    h1 {
        margin-bottom: -300px;
        font-size: 60px;
        color: white;
        text-shadow: 0 0 8px white;
    }
}
